{% extends 'base.html' %}

{% block content %}

<a href="upload">Upload a photo</a>

<br><br>

<div id="map" style="height: 600px; width: 600px;"></div>
<script>

var map = L.map('map').setView([51.505, -0.09], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var popup = L.popup()
    .setLatLng([51.513, -0.09])
    .setContent("I am a standalone popup.")
    .openOn(map);
    </script>
{% endblock %}